Source: qpoases
Priority: optional
Maintainer: Pierre Gergondet <pierre.gergondet+ppa@gmail.com>
Standards-Version: 3.9.5
Section: libs
Homepage: https://github.com/coin-or/qpoases
Build-Depends: debhelper (>= 9),
               pkg-config,
               cmake,
               doxygen,
               graphviz,
               libmetis-dev

Package: libqpoases-dev
Section: libdevel
Architecture: any
Depends: cmake,
         libmetis-dev,
         ${shlibs:Depends},
         ${misc:Depends}
Description: An implementation of the Online Active Set Strategy
